*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}

body{
    background-color: #333;
}

header{
    background-color: #fff;
    padding: 1em;
}

.title{
    display: inline-block;
    font-weight: bolder;
    font-size: 40px;
    
}

.logo-image{
   vertical-align: middle;
   display: inline-block; 
}













.container{
    width: 1100px;
    background-color: #fff;
    margin: 5% auto;
}

.section-one{
    padding: 10px 0 10px 5%;
    display: inline-block;
}

.section-two{
    padding: 10px 0 10px 0;
    display: inline-block;
}

.button{
    background-color: rgb(21, 171, 220);  
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border-radius: 4px;
    color: #fff;
}

.button:hover{background-color: rgb(49, 110, 224);}

.button2{
    border: 1px solid #333;
    background-color: #fff;  
    text-align: center;
    vertical-align: middle;
    padding: 7px 15px;
    border-radius: 4px;
    color: #333;
}

.button2:hover{background-color: #eee;}